#################
## LaTeXTools
#################

*.aux
*.log
*.synctex.gz
*.pdf
*.toc
*.fdb_latexmk
*.fls
*.lof

#################
## CooCox
#################

Project/SatelliteTracker/Debug
*.pbxproj
*.cogui
*.comarker